.main-app {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
  
  .app-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
  
  .app-content.visible {
    opacity: 1;
  }
  