.product-item {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 0.5rem;
    cursor: grab;
    transition: opacity 0.5s ease;
    min-width: 170px;
    min-height: 115px;
  }
  
  .product-item.removed {
    opacity: 0;
  }
  
  .product-item img {
    max-width: 100%;
  }
  